{% extends 'AppBundle:admin:layout.html.twig' %}

{% block body %}


    <h1>{{ organisations.CompanyName }}</h1>

<table style="margin: 10px;">

    <tr>
        <td>
            <b>CompanyName</b>
        </td>
        <td style="padding-left: 10px;">
            {{ organisations.CompanyName }}
        </td>
    </tr>
    <tr>
        <td>
            <b>EDRPOY</b>
        </td>
        <td style="padding-left: 10px;">
             {{ organisations.EDRPOU }}
        </td>
    </tr>
    <tr>
        <td>
            <b>Status</b>
        </td>
        <td style="padding-left: 10px;">
             {{ organisations.CompanyStatus }}
        </td>
    </tr>
    <tr>
        <td>
            <b>email</b>
        </td>
        <td style="padding-left: 10px;">
            {{ organisations.email }}
        </td>
    </tr>
    <tr>
        <td>
            <b>Phone</b>
        </td>
        <td style="padding-left: 10px;">
            {{ organisations.phone }}
        </td>
    </tr>
    <tr>
        <td>
            <b>WebPage</b>
        </td>
        <td style="padding-left: 10px;">
            {{ organisations.WebPage }}
        </td>
    </tr>
    <tr>
        <td>
            <b>ActivityCode</b>
        </td>
        <td style="padding-left: 10px;">
            {{ organisations.activityId }}
        </td>
    </tr>
    </table>

    <a href="{{ path('admin_organisations_edit', { id: organisations.id } ) }}">Edit</a>


{% endblock %}

{% block title %}

    SHOW

{% endblock %}