<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lineage 2 Seresin">
    <title>Seresin</title>
    <link href="{{ asset('/bundles/app/css/style.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ asset('/bundles/app/favicon/l2.jpg') }}">
  </head>

<body>
    <div class="background-container">
      <div class="menu">
        <div class="lang-menu">
          <a href="{{ path(app.request.get('_route'), { '_locale': 'en' }) }}"><img class="lang-item" src="{{asset('/bundles/app/img/en-flag.png')}}"/></a>
          <a href="{{ path(app.request.get('_route'), { '_locale': 'ru' }) }}"><img class="lang-item" src="{{asset('/bundles/app/img/ru-flag.png')}}"/></a>
        </div>

        <div class="navigation-menu">
          <a href="{{ path('news') }}"><button class="menu-item {% if app.request.attributes.get('_route') ends with 'news' %} active {% endif %}">{{'News'|trans}}</button></a>
          <a href="{{ path('login') }}"><button class="menu-item {% if app.request.attributes.get('_route') ends with 'login' or app.request.attributes.get('_route') ends with 'registration' or app.request.attributes.get('_route') ends with 'forgot_password' or app.request.attributes.get('_route') ends with 'change_password'%} active {% endif %}">{{'Account'|trans}}</button></a>
          <a href="{{ path('downloads') }}"><button class="menu-item {% if app.request.attributes.get('_route') ends with 'downloads' %} active {% endif %}">{{'Start Playing'|trans}}</button></a>
          <a href="{{ path('about') }}"><button class="menu-item {% if app.request.attributes.get('_route') ends with 'about' %} active {% endif %}">{{'About'|trans}}</button></a>
  <!--        <a href="{{ path('castles') }}"><button class="menu-item {% if app.request.attributes.get('_route') ends with 'castles' %} active {% endif %}">{{'Castles'|trans}}</button></a>
          <a href="{{ path('raidbosses') }}"><button class="menu-item {% if app.request.attributes.get('_route') ends with 'raidbosses' %} active {% endif %}">{{'Raid Bosses'|trans}}</button></a> -->
          <a href="{{ forum_url }}" target="_blank"><button class="menu-item">{{'Forum'|trans}}</button></a>
        </div>

      </div>

      <div class="container">
        <div>
          {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
              {{ flash_message }}
            </div>
          {% endfor %}
        </div>

        <div class="content">
          {% block body %}{% endblock %}
        </div>
      </div>
      <div class="footer"></div>
  </div>

  <script src="{{ asset('/bundles/app/js/jquery.min.js') }}"></script>
  <script src='https://www.google.com/recaptcha/api.js?hl={{ app.request.locale  }}'></script>

</body>
</html>
