<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lineage 2 Seresin">
    <link rel="icon" href="{{ asset('/bundles/app/favicon/l2.jpg') }}">
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <title>Seresin</title>

    <link href="{{ asset('/bundles/app/css/style.css') }}" rel="stylesheet">
  </head>

  <body>
    <div class="background-container">
      <div class="menu">
        <a href="{{ path('homepage') }}"><button class="menu-item {% if app.request.attributes.get('_route') starts with 'news' %} active {% endif %}">{{'News'|trans}}</button></a>
        <a href="{{ path('user_login') }}"><button class="menu-item">{{'Account'|trans}}</button></a>
        <a href="{{ path('downloads') }}"><button class="menu-item">{{'Downloads'|trans}}</button></a>
        <a href="{{ path('about') }}"><button class="menu-item">{{'About'|trans}}</button></a>
        <a href="#"><button class="menu-item">{{'Forum'|trans}}</button></a>
      </div>

    <div class="container">
      <div>
        {% for flash_message in app.session.flashBag.get('success') %}
          <div class="alert alert-success">
            {{ flash_message }}
          </div>
        {% endfor %}
      </div>

      <div class="content">
        {% block body %}{% endblock %}
      </div>
    </div>
    <div class="footer"></div>
  </div>

  <script src="{{ asset('/bundles/app/js/jquery.min.js') }}"></script>

</body>
</html>
