{% extends 'AppBundle::security/account.html.twig' %}

{% block account_body %}
    {{ form_start(form) }}

    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">{{'Change Password'|trans}}</button>
    {{ form_end(form) }}
{% endblock %}
